.page-margin-top {
  margin-top: 2em; }

.page-width {
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw; }

.flex-row, .Content {
  display: flex;
  flex-direction: row; }

.page-padding-vertical {
  padding-top: 2em;
  padding-bottom: 2em; }

.Content {
  align-items: center;
  justify-content: center; }
